:root {
  --yellow: #fdf100;
  --green: #96cc70;
  --red: #cb3a00;
  --white: #ffffff;
  --black: #000000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--yellow);
  color: var(--green);
  line-height: 1.5;
  font-size: 0.875rem;
  scroll-behavior: smooth
}

img {
  display: block;
  max-width: 75vw;
  width: 100%;
}

h1 {
  color: var(--red);
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
  text-shadow: 2px 3px 1px var(--green);
  text-transform: capitalize;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

header {
  background: url('./assets/funyuns.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 220px;
  place-items: center;
  width: 100%;
}

main {
  display: grid;
  place-items: center;
}

footer {
  background-color: var(--red);
  bottom: 0;
  display: flex;
  min-height: 30px;
  position: fixed;
  text-align: center;
  width: 100%;
}

p {
  margin: 0px auto;
  padding: 10px 0;
}